<app-toast [toastInfo]="toastInfo"></app-toast>
<div class="container my-3">
  <div class="content">
    <!-- Items -->
    <div class="card mx-3">
      <div class="card-header fw-bold">
        <!-- Stepper -->
        <div class="steps d-flex">
          <div class="step mx-3" *ngFor="let s of steps">
            <button class="btn text-capitalize"
              [ngClass]="(s.step_id && step && step.step_id && s.step_id == step.step_id)  ? 'btn-primary' : 'btn-outline-primary'"
              (click)="getStep(s)">{{s.step_name}}
            </button>
            <button (click)="deleteStep(s)"
              class="position-absolute top-0 translate-middle bg-danger border border-light rounded-circle"><i
                class="bi bi-dash"></i>
            </button>
          </div>
          <button type="button" class="btn btn-sm btn-success mx-3" (click)="addStep()"><i
              class="bi bi-plus-lg text-white fw-bold"></i> Add Step</button>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <div class="float-end">
            <button *ngIf="showAddItem" class="btn btn-sm btn-success mb-3 mx-3" (click)="addItem()"><i
                class="bi bi-plus-lg fw-bold"></i>
              Add Item</button>
          </div>
          <div class="d-flex flex-column">
            <div class="item mx-3" *ngFor="let item of items">
              <button class="btn btn-warning text-capitalize" (click)="getItem(item)">{{item.item_name}}</button>
              <button (click)="deleteItem(item)"
                class="position-absolute translate-middle bg-danger border border-light rounded-circle"><i
                  class="bi bi-dash"></i>
              </button>
              <h5 class="mt-3 text-capitalize">{{item.item_title}}</h5>
              <p>{{item.item_description}}</p>
            </div>
            <div *ngIf="this.items && !this.items.length" class="m-3">
              No items added yet.
            </div>
          </div>
        </div>
        <!-- Nav -->
        <div *ngIf="this.step" class="d-flex flex-row justify-content-center">
          <button type="button" class="btn btn-sm btn-secondary mx-3" (click)="previous()">Previous</button>
          <button type="button" class="btn btn-sm btn-secondary mx-3" (click)="next()">Next</button>
        </div>
      </div>
    </div>

    <!-- Form -->
    <div class="card mx-3 mt-3">
      <div class="card-header fw-bold">
        Make an Edit
      </div>
      <div class="card-body">
        <div [hidden]="!showStepForm" class="mx-3">
          <div class="mb-3">
            <label for="step" class="form-label fw-bold">Step</label>
            <input type="text" [(ngModel)]="stepForm.name" class="form-control" id="step" placeholder="step name">
          </div>
          <button type="button" class="btn btn-sm btn-success mb-3" (click)="saveStep()">Save</button>
        </div>
        <!-- Item Form -->
        <div [hidden]="showStepForm" class="mx-3">
          <div class="mb-3">
            <label for="item" class="form-label fw-bold">Item</label>
            <input type="text" [(ngModel)]="itemForm.name" class="form-control" id="item" placeholder="Item name">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title</label>
            <input type="text" [(ngModel)]="itemForm.title" class="form-control" id="title" placeholder="Title"
              name="title">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label fw-bold">Description</label>
            <textarea [(ngModel)]="itemForm.description" class="form-control" id="description" rows="2"></textarea>
          </div>
          <button type="button" class="btn btn-sm btn-success mb-3" (click)="saveItem()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>